@font-face {
    font-family:copy;
    src: url(Copyduck.otf)
}

body{
    background-image: url(nicki.JPG); 
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}
div#logo_block{
    width: 150px;
    height: 150px;
    float: left;
}
nav{
    display: flexbox;
    width: 100%;
    height: 40px;
    padding-bottom: 15px;
    background-image: url(nicki.JPG);
    background-size: cover;
}
img#nav-logo{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    margin-left: 15px;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 255, 242);
    font-size: 64px;
}
a#nav-links{
    font-size: 20px;
    color: rgb(1, 238, 255);
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    float: left;
}
.row{
    height: 150px;
}
.column-L{
    width: 58.5%;
    height: auto;
    float: left;
}
.column-R{
    width: 41.5%;
    height: auto;
    float: right;
    padding-bottom: 15px;
    filter: drop-shadow(-7px 5px 3px #ff00e6);
    margin-bottom: 5px;
}
.column-R-empty{
    height: 158px;
    background-image: url(nicki.JPG);
    width: auto;
    margin-top: -8px;
}
.gallery img{
    margin-left: 10px;
    width: 90px;
    height: 80px;
    filter: drop-shadow(5px 3px 2px #ff00e6);
    display: none;
}
p{
    font-size: 20px;
    font-family: copy;
    color: #efdfec;
    /*display: none;*/

}
.column-R:hover{
    width: 45%;
    height: auto;
    float: right;
    padding-bottom: 15px;
    margin-bottom: 5px;
}
#About-me p{
    display: none;
}
#Experience p{
display: none;
}
#Project p{
display: none;
}
#Goals p{
display:none;
}